@import url('./ratio.css');

.chart {
	width: 500px;
	height: 500px;
	display: inline-block;
	font-family: Verdana, sans-serif;	
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area { fill: #B1D8E4; }